<launch>
  <!-- 两块板分别管理三条腿；ID 和方向的唯一默认值在 servo_side_node.cpp 中。
       参数名与 grasp_hexapod_servo（Python 版）的 launch 完全一致，可独立替换。 -->
  <arg name="left_port" default="/dev/ttyTHS0"/>
  <arg name="right_port" default="/dev/ttyACM0"/>
  <arg name="baudrate" default="115200"/>
  <arg name="servo_rate_hz" default="30.0"/>
  <arg name="command_duration_ms" default="33"/>
  <arg name="servo_diagnostics" default="true"/>
  <arg name="gripper_id" default="99"/>
  <arg name="gripper_direction" default="-1"/>
  <arg name="gripper_command_duration_ms" default="400"/>
  <arg name="gripper_pulse_min" default="280"/>
  <arg name="gripper_pulse_max" default="750"/>

  <node pkg="grasp_hexapod_servo_cpp" type="servo_node" name="servo_left_node" output="screen">
    <param name="side" value="left"/>
    <param name="port" value="$(arg left_port)"/>
    <param name="baudrate" value="$(arg baudrate)"/>
    <param name="servo_rate_hz" value="$(arg servo_rate_hz)"/>
    <param name="command_duration_ms" value="$(arg command_duration_ms)"/>
    <param name="enable_diagnostics" value="$(arg servo_diagnostics)"/>
    <param name="gripper_id" value="$(arg gripper_id)"/>
    <param name="gripper_direction" value="$(arg gripper_direction)"/>
    <param name="gripper_command_duration_ms" value="$(arg gripper_command_duration_ms)"/>
    <param name="gripper_pulse_min" value="$(arg gripper_pulse_min)"/>
    <param name="gripper_pulse_max" value="$(arg gripper_pulse_max)"/>
    <!-- zzw加-->
    <!-- <rosparam file="$(find grasp_hexapod_servo_cpp)/config/left.yaml" command="load"/> -->
    <rosparam param="directions">[1,1,1,1,1,1,1,1,1]</rosparam>
  </node>

  <node pkg="grasp_hexapod_servo_cpp" type="servo_node" name="servo_right_node" output="screen">
    <param name="side" value="right"/>
    <param name="port" value="$(arg right_port)"/>
    <param name="baudrate" value="$(arg baudrate)"/>
    <param name="servo_rate_hz" value="$(arg servo_rate_hz)"/>
    <param name="command_duration_ms" value="$(arg command_duration_ms)"/>
    <param name="enable_diagnostics" value="$(arg servo_diagnostics)"/>
    <!-- zzw加-->
    <!-- <rosparam file="$(find grasp_hexapod_servo_cpp)/config/right.yaml" command="load"/> -->
    <rosparam param="directions">[1, -1, -1, 1, -1, -1, 1, -1, -1]</rosparam>
  </node>
</launch>
